body /*carac pour body*/
{
    background:
    url('../image/newback.jpg')  no-repeat;
    color: black;
    margin: 0;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}

a
{
    text-decoration: none;
    color: antiquewhite;
}

p
{
    color: antiquewhite;
}
h1 /*caractéristique titre h1*/
{
    margin: 0;
    color: antiquewhite;
}

h2
{
    margin: 0;
    color: antiquewhite;
}

.header
{
  height:100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100wh;

}

section /*structure de tous mes sections*/
{
    width:100wh;
    min-height:100vh;
    display: flex;
    flex-direction: column;

}

address {
    font-variant-caps: normal;
}


