body /*carac pour body*/
{
    background:
    url('../image/bcgd.jpg') ;
    color: black;
    margin: 0;
    text-align: center;
    background-attachment: fixed;
}
nav {
    width: 100wh;
    height: 150px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
nav .links--container ul {
    display: flex;
}
nav .links--container ul > li:hover {
    background-color:silver;
    opacity: 0,5;
}
nav .links--container ul > li > a {
    padding: 20px;    
}
nav .logo--container {
    margin-left: 20px;
}
a
{
    text-decoration: none;
    color: antiquewhite;
}
p
{
    color: antiquewhite;
}
h1 /*caractéristique titre h1*/
{
    margin: 0;
    color: antiquewhite;
}
h2
{
    margin: 0;
    color: antiquewhite;
}
h3
{
    margin: 0;
    color: antiquewhite;

}
div#corp /*carac de l'ensemble de ma structure*/
{
  width:100wh;
  height:100vh;
  display: flex;
  flex-direction: column;
}
div#header
{
    margin-bottom: 20px;
}
section /*structure de tous mes sections*/
{
    width:100wh;
    min-height:100vh;
    display: flex;
    flex-direction: column;

}
/*div#exp-pro
{
    width:calc(50% - 35px);
    margin-right: 35px;
}
div#par-sco
{
    width:calc(50% - 35px);
    margin-left: 35px; 
}*/